<div class="col-md-8">
  <div class="card">
    <div class="card-header">Adicionar novo usuário</div>
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="phone">Telefone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            formControlName="phone"
          />
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input
            type="number"
            class="form-control"
            id="cpf"
            name="cpf"
            formControlName="cpf"
          />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-group">
          <label for="age">idade</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            formControlName="age"
          />
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
